<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lightstep.tracer.android" >

    <uses-sdk android:minSdkVersion="9" android:targetSdkVersion="21"/>

    <!-- Permissions required to make http calls -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />    
</manifest>
